@inject Demo.SPA.Components.Spinner spinner

@if (spinner.loaderVisibleState)
{
    <div class="loader">
        <div class="loader-spinner spinner-border text-success"></div>
    </div>
}

@code{

    protected override void OnInitialized()
    {
        spinner.AddSpinnerHandler(() => StateHasChanged());
    }
}