@using Demo.Shared.Models.Domain
<EditForm Model="product" OnValidSubmit="Save">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" @bind-value="product.name" class="form-control" placeholder="Product Name">

    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Production Date</label>
        <input type="date" @bind-value="product.production" class="form-control" placeholder="Production Date">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Expires In Days</label>
        <input type="number" @bind-value="product.ExpiresInDays" class="form-control" placeholder="Expires In Days">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Company </label>
        <InputSelect TValue="int" @bind-Value="product.CompanyId" class="form-control">
            <option value="">Select Company</option>
            @if (Companies != null)
                @foreach (var comp in Companies)
                {
                    <option value="@comp.Id">@comp.Name</option>
                }
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Active</label>
        <InputCheckbox @bind-Value="product.IsActive" DisplayName="Active"></InputCheckbox>
    </div>

    <hr />
    <div class="row my-2">
        <div class="col-12">
            @if (product.Id > 0)
            {
                <button class="btn btn-primary" type="submit">Update</button>
                <AuthorizeView Policy="@Policy.AddProduct" Context="authContext">
                    <button type="button" class="btn btn-danger float-right" @onclick="@(()=>modal.Open())">Delete</button>
                </AuthorizeView>
            }
            else
            {
                <button class="btn btn-primary" type="submit">Save</button>
            }
        </div>
    </div>

</EditForm>

<Modal @ref="modal">
    <Title>
        Confirm Delete ?
    </Title>
    <Body>
        <h4>Are you sure? this action can't be undone.</h4>
    </Body>
    <Footer>
        <button class="btn btn-info" @onclick="modal.Close">Cancel</button>
        <button class="btn btn-danger float-right" @onclick="Delete">Delete</button>
    </Footer>
</Modal>