
@page "/products/add"

<div class="row my-2">
    <div class="col-12 align-middle">
        <a class="btn oi oi-arrow-left d-inline" href="products"/>
        <h3 class="d-inline">Product</h3>
    </div>
</div>

@if (product != null)
{    
    <div class="row my-2">
        <div class="col-8">
            <Demo.SPA.Components.ProductDetail product="product"></Demo.SPA.Components.ProductDetail>
        </div>
    </div>
}